<nav style="z-index: 1" class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand" href="index.html">Start Bootstrap</a>
    <button
      class="navbar-toggler navbar-toggler-right"
      type="button"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <% if(pagename=="Home") {%>
          <a class="nav-link" style="color: #ffd700;" href="/">Home</a>
          <%}else{%>
          <a class="nav-link" href="/">Home</a>
          <%}%>
        </li>
        <li class="nav-item">
          <% if(pagename=="About") {%>
          <a class="nav-link" style="color: #ffd700;" href="/">About</a>
          <%}else{%>
          <a class="nav-link" href="/About">About</a>
          <%}%>
        </li>
        <li class="nav-item">
          <% if(pagename=="Post") {%>
          <a class="nav-link" style="color: #ffd700;" href="/">Sample Post</a>
          <%}else{%>
          <a class="nav-link" href="/Post">Sample Post</a>
          <%}%>
        </li>
        <li class="nav-item">
          <% if(pagename=="Contact") {%>
          <a class="nav-link" style="color: #ffd700;" href="/Contact">Contact</a>
          <%}else{%>
          <a class="nav-link" href="/Contact">Contact</a>
          <%}%>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div style="
    z-index: 12;
    display: block;
    text-align: right;
    background-color: #333A40;
    margin-right: 0px;
    padding-right: 20px;
    color: gray;
    position: absolute;
    width: 155px;
    margin-top: 4px;
    padding-top: 5px;
    right: 0px;
    border-radius: 10px;
    padding: 11px;
    font-size: 12px;
">
    <form action="/login" method="POST">
        <input type="text" name="email" placeholder="email"/>
        <input type="text" name="password" placeholder="password"/>
        <input type="submit"/>
    </form>
</div>

<div style="
    z-index: 12;
    display: block;
    text-align: right;
    background-color: #333A40;
    margin-right: 0px;
    padding-right: 20px;
    color: gray;
    position: absolute;
    width: 155px;
    margin-top: 200px;
    padding-top: 5px;
    right: 0px;
    border-radius: 10px;
    padding: 11px;
    font-size: 12px;
">

</div>